<%- include('../partials/header') %>

<body>
    <h1><%= skill.skill.toUpperCase() %> EXPERIENCE</h1>
    <h2>Technologies</h2>
    <table>
        <% skill.technologies.forEach(tech => {  %>
        <th><%= tech.language.toUpperCase() %></th>
        <tr><td><%= tech.experience %></td></tr>
        <% }); %>
    </table>

    <h2>Projects</h2>
    <a href=<%= skill.projectlinks %> ><%= skill.projects.toUpperCase() %></a>
</body>

<%- include('../partials/footer') %>